<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Oliinyk_Weather::add_row" title="Weather" module="Oliinyk_Weather" sortOrder="20" action="weather/grid" resource="Oliinyk_Weather::add_row"/>
    </menu>
</config>
